<h3>LAST WILL AND TESTAMENT OF {{person.name}}</h3>

{{results}}
__________________________________



(your name)



I, ____________________________, an adult residing at _________________________ 



(address)  ___________________ (city), _______________________ (state), being of sound 



mind, declare this to be my Last Will and Testament. I revoke all wills and codicils previously 



made by me.



ARTICLE I



I appoint ________________________ as my Personal Representative to administer 



this Will, and ask that he/she be permitted to serve without Court supervision and without 



posting bond. If ____________________ is unwilling or unable to serve, then I appoint 



_____________________ to serve as my Personal Representative, and ask that he/she be 



permitted to serve without Court supervision and without posting bond.



ARTICLE II



I direct my Personal Representative to pay out of my residuary estate all of the expenses of my 



last illness, administration expenses, all legally enforceable creditor claims, all Federal estate 



taxes, state inheritance taxes, and all other governmental charges imposed by reason of my 



death without seeking reimbursement from or charging any person for any part of the taxes and 



charges paid, and if necessary, reasonable funeral expenses, including the cost of any suitable 



marker for my grave, without the necessity of an order of court approving said expenses.



 ARTICLE III



I devise, bequeath, and give my 



____________________________________________________________________________



____________________________________________________________________________



____ to __________________________________.



I devise, bequeath, and give my 



____________________________________________________________________________



____________________________________________________________________________



____ to __________________________________.



ARTICLE IV



I devise, bequeath, and give all of the rest and remainder of my residuary estate as follows:



a. ________% to ____________________________________________.



b. ________% to ____________________________________________.



c. ________% to ____________________________________________.



ARTICLE V



Should any beneficiary not survive me by 30 days, his or her share shall be distributed to his or 



her then surviving children in equal shares.



____________________________________



YOUR NAME



SELF-PROVING AFFIDAVIT



This instrument, consisting of this and two (2) typewritten pages, was signed and acknowledged 



by Testator/Testatrix as his/her Last Will and Testament in our presence, and we, at his/her 



request, and in his/her presence, and in the presence of each other, have subscribed our 



names as witnesses.



Under penalties for perjury, we, the undersigned Testator/Testatrix and witnesses declare:



1. That the Testator/Testatrix executed this instrument as his/her Will;



2. That in the presence of witnesses, the Testator/Testatrix signed or acknowledged his/her 



signature already made, or directed another to sign for him/her in his/her presence;



3. That the Testator/Testatrix executed the Will as his/her free and voluntary act for the 



purposes expressed in it;



4. That each of the witnesses, in the presence of the Testator/Testatrix and of each other, 



signed the Will as witness;



5. That the Testator/Testatrix was of sound mind; and



6. That, to the best of his/her knowledge, the Testator/Testatrix was at the time eighteen 



(18) or more years of age.



All of which is attested to this _____ day of _______________________ 20____.



____________________________________



YOUR NAME, Testator/Testatrix



____________________________________



Witness



____________________________________



Witness