<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <!--<script src="//code.jquery.com/jquery-latest.min.js"></script>-->
    <link href="{{STATIC_URL}}jquery.bxslider.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}style.css" rel="stylesheet" />
    <script src="{{STATIC_URL}}jquery.bxslider.min.js"></script>
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>{% block title %}Will Generator{% endblock %}</title>
<script type="text/javascript">
    $(document).ready(function(){
  $('.bxslider').bxSlider({
  auto: true
  });
});
</script>
    </head>

<body>
<div class="container">
    <div class="row-fluid" id="header">
        <div class="span4 offset2">
        <a href="{% url 'register' %}" class="btn btn-primary btn-large">Register!</a>
        </div>
        <div class="span4">
        <div class="span2">
        </div>
        <a href="{% url 'will:index' %}" class="btn-large btn btn-primary">Signin!</a>
        </div>
        
    </div>
    <div class="content row-fluid">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>