.sticky-wrapper{position: fixed; top: 20; }

.person{
    margin-bottom: 20px;
    }
    
.adder {
    width: 100%;
    }
    
#relativeSidebar a:hover{
    background-color:yellow;
    }   
    
.hidden {
    display:none;
    }

li.relEntry {
    list-style-type: none;
}